body {
	font-family: 'Segoe UI', sans-serif;
}

span {
	font-style: italic;
}

div.game-square {
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	margin: 5px;
	border: 5px solid #000000;
	float: left;
	width: 90px;
	height: 90px;
}

div.clear {
	clear: both;
}
